@charset "UTF-8";

main {
    max-width:800px;
}

fieldset{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    margin: 10px;
}

legend {
    font-weight: bold;
}

input[type=text] {
    background: pink;
}

label[for=nev]::last-letter {
    color:red;
}
