@charset "UTF-8";

main {
    max-width:800px;
}

fieldset{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    margin: 10px;
}

legend {
    font-weight: bold;
}

input[type=text] {
    background: pink;
}

label[for=nev] {
    color:red;
}


nav ul{
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4, auto);
    color: white;
}

nav li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    list-style-type: none;
}
